@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
div,
p,
img,
ul,
a,
li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

:root {
  --Moderate-blue:hsl(238, 40%, 52%);
  --Soft-Red: hsl(358, 79%, 66%);
  --Light-grayish-blue: hsl(239, 57%, 85%);
  --Pale-red: hsl(357, 100%, 86%);
  --green: hsl(120, 76%, 37%);
  --Dark-blue: hsl(212, 24%, 26%);
  --Grayish-Blue: hsl(211, 10%, 45%);
  --Light-gray: hsl(223, 19%, 93%);
  --Very-light-gray: hsl(228, 33%, 97%);
  --White: hsl(0, 0%, 100%);
  --fw-sm: 400;
  --fw-md: 500;
  --fw-bl: 700;
}

.wrapper .mid-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2rem;
}

.wrapper .mid-section .border {
  width: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
}

.wrapper .mid-section .border span {
  width: 0.2rem;
  background: var(--Light-gray);
  height: 100%;
  display: inline-block;
  border-radius: .5rem;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--Very-light-gray);
  padding: 4rem 0;
}

.main-container {
  max-width: 1300px;
  margin: auto;
}

.wrapper {
  width: 60%;
  margin: auto;
}

.comment {
  width: 100%;
  margin-top: 2rem;
  padding: 2rem 1.3rem;
  background-color: var(--White);
  border-radius: .7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 19rem;
}

.vote-wrapper {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background-color: var(--Very-light-gray);
  border-radius: .8rem;
}

.vote-wrapper img {
  cursor: pointer;
}

.vote-wrapper p {
  padding: 3rem 0rem;
  font-size: 1.8rem;
}

.comment-text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0rem 2rem;
  height: 90%;
  width: 100%;
}

.comment-text .col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.comment-text .col1 .user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment-text .col1 .user-info .user-profile {
  width: 4.7rem;
  cursor: pointer;
}

.comment-text .col1 .user-info .user-profile img {
  width: 100%;
}

.comment-text .col1 .user-info .user-name {
  font-size: 1.7rem;
  font-weight: var(--fw-bl);
  color: var(--Dark-blue);
  padding-left: 1rem;
}

.comment-text .col1 .user-info .timing {
  font-weight: var(--fw-md);
}

.comment-text .col1 .reply-btn p,
.comment-text .col1 .reply-to {
  font-size: 1.8rem;
  font-weight: var(--fw-bl);
  color: var(--Moderate-blue);
  cursor: pointer;
}

.comment-text .col1 .reply-btn p span,
.comment-text .col1 .reply-to span {
  padding-left: 1rem;
}

.comment-text .col2 {
  font-size: 1.5rem;
  color: var(--Grayish-Blue);
  letter-spacing: .1rem;
  padding-top: 1rem;
  line-height: 2.4rem;
  min-height: 8rem;
}

.comment-text .col2 .reply-to {
  font-size: 1.8rem;
  font-weight: var(--fw-bl);
  color: var(--Moderate-blue);
  cursor: pointer;
  font-size: 1.5rem;
  padding: 0rem;
  display: inline;
}

.comment-text .col2 .reply-to span {
  padding-left: 1rem;
}

.edit-delete-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.7rem;
  font-weight: 800;
}

.edit-delete-btn-container span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0rem 1rem;
}

.edit-delete-btn-container span p.delete {
  color: var(--Soft-Red);
  cursor: pointer;
}

.edit-delete-btn-container span p.edit {
  color: var(--Moderate-blue);
  cursor: pointer;
}

.edit-delete-btn-container span p.save {
  color: var(--green);
}

.edit-delete-btn-container span img {
  padding-right: 1rem;
  width: 2.8rem;
}

.reply-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 58%;
  margin: auto;
  padding: 2rem;
  margin-top: 1rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: var(--White);
  border-radius: .7rem;
}

.reply-input .input {
  border: 1px solid var(--Light-grayish-blue);
  width: 77%;
  border-radius: 0.6rem;
  padding: .3rem 1rem;
  margin: 0rem 1rem;
}

.reply-input .input textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  border-radius: 0.6rem;
  font-size: 1.5rem;
  color: var(--Grayish-Blue);
  letter-spacing: .075rem;
}

.reply-input .input textarea:focus {
  outline: none;
}

.reply-input #send-btn {
  border: none;
  padding: 1rem 2rem;
  font-size: 2.5rem;
  color: white;
  background: blue;
  cursor: pointer;
  border-radius: 0.5rem;
}

.display-none {
  display: none;
}

.textarea {
  width: 100%;
  height: 10rem;
  text-align: start;
  font-size: 1.5rem;
  color: var(--Grayish-Blue);
  letter-spacing: .1rem;
  line-height: 2.4rem;
  resize: none;
  border: 1px solid var(--Light-grayish-blue);
  border-radius: .5rem;
}

.reply-text {
  font-size: 1.5rem;
  color: var(--Grayish-Blue);
  letter-spacing: .1rem;
  padding-top: 1rem;
  line-height: 2.4rem;
}
/*# sourceMappingURL=main.css.map */